.navigation {
    background-color: #583839;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 4rem;
    
}

.navigation__logo {
    font-size: 2.4rem;
}

.navigation__list {
    display: flex;
    
}

.navigation__item {
    list-style: none;
}

.navigation__item:not(:last-child) {
    margin-right: 1.5rem;
}

.navigation__link:link,
.navigation__link:visited {
    color: inherit;
    text-decoration: none;
    font-size: 1.8rem;
    border: .2rem solid transparent;
    padding: 1rem;
    border-radius: .5rem;
}
.navigation__link:hover,
.navigation__link:active {
    border: .2rem solid #fff;
}